pip==24.3.1
streamlit
streamlit-option-menu
streamlit-lottie
google-generativeai
pandasai
PyPDF2
tiktoken
faiss-cpu
dotenv
pandas
matplotlib
Pillow
langchain
openai
transformers
sentence-transformers
