pip
streamlit
streamlit-option-menu
streamlit-lottie
google-generativeai
pandasai
protobuf
PyPDF2
tiktoken
faiss-cpu
python-dotenv
pandas
matplotlib
Pillow
langchain
langchain-community
langchain-google-genai
langchain-core
langchain-text-splitters
langsmith
mkl-service
marshmallow
lxml
jsonpointer
jiter
httpx-sse
grpcio
grpcio-status
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
Faker
duckdb
dataclasses-json
atomicwrites
astor
appdirs
openai
proto-plus
protobuf
pyasn1-modules
pydantic-settings
pyls-spyder
PyQt5
PyQtWebEngine
rsa
setuptools
sqlglot
sqlglotrs
typing-inspect
uritemplate
wheel
